body {
    text-align: center;
}

#icons span,
a {
    color: blue;
    padding: 20px;
}

span {
    display: inline-block;
    margin: auto;
    border: 1px solid #ffffff;
}

#mini-layout img {
    width: 350px;
    height: 250px;
}